<h2>Your priority inbox</h2>
[<a ui-sref="inbox.priority.id({priorityID: allNines})" ui-sref-active="active">priorityID all nines</a>]
[<a ui-sref="inbox.priority.id({priorityID: allEights})" ui-sref-active="active">priorityID all eights</a>]
[<a ui-sref="inbox.priority.id({priorityID: allSevens})" ui-sref-active="active">priorityID all sevens</a>]
[<a ui-sref="inbox.priority.id({priorityID: allSixes})" ui-sref-active="active">priorityID all sizes</a>]
[<a ui-sref="inbox.priority.id({priorityID: allFives})" ui-sref-active="active">priorityID all fives</a>]
<div ui-view></div>